doctype html
html(lang="en")
    head
        meta(charset='utf-8')
        meta(http-equiv='x-ua-compatible',content='ie=edge')
        meta(name='viewport',content='width=device-width, initial-scale=1.0')
        title= "Kimai Login"
        link(rel='stylesheet',href='https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.0/css/foundation.min.css')
    body
        p TODO ... jap I know.